<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/App Store.app/Contents/Resources/AppIcon.icns</key>
	<array>
		<string>/Applications</string>
		<string>~/Applications</string>
	</array>
	<key>/Applications/Utilities/Terminal.app/Contents/Resources/Terminal.icns</key>
	<array>
		<string>~/bin</string>
	</array>
	<key>/Applications/GitHub Desktop.app/Contents/Resources/electron.icns</key>
	<array>
		<string>~/GitHub</string>
	</array>
	<key>/Applications/Google Drive.app/Contents/Resources/GoogleDrive.icns</key>
	<array>
		<string>~/Google Drive</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/KEXT.icns</key>
	<array>
		<string>~/Library/Application Support/SIMBL/Plugins</string>
		<string>/Library/Application Support/SIMBL/Plugins</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericApplicationIcon.icns</key>
	<array>
		<string>~/Library/Application Support</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/FullTrashIcon.icns</key>
	<array>
		<string>~/.Trash</string>
	</array>
	<key>/System/Library/CoreServices/AppDownloadLauncher.app/Contents/Resources/appStore.icns</key>
	<array>
		<string>/Applications</string>
		<string>~/Applications</string>
	</array>
	<key>/System/Library/PreferencePanes/Displays.prefPane/Contents/Resources/Displays.icns</key>
	<array>
		<string>~/Desktop</string>
	</array>
	<key>/Applications/iBooks.app/Contents/Resources/iBooksAppIcon.icns</key>
	<array>
		<string>~/Documents</string>
	</array>
	<key>/System/Library/CoreServices/Installer.app/Contents/Resources/Installer.icns</key>
	<array>
		<string>~/Downloads</string>
	</array>
	<key>tLib</key>
	<array>
		<string>/Library</string>
		<string>~/Library</string>
	</array>
	<key>tPub</key>
	<array>
		<string>~/Public</string>
	</array>
	<key>tSts</key>
	<array>
		<string>~/Sites</string>
	</array>
	<key>tUtl</key>
	<array>
		<string>/Applications/Utilities</string>
	</array>
	<key>idsk</key>
	<array>
		<string>iDisk</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/iDiskGenericIcon.icns</key>
	<array>
		<string>x-applefinder-vnode:CloudDocs%20libraries</string>
		<string>x-applefinder-vnode:iCloud</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AirDrop.icns</key>
	<array>
		<string>x-applefinder-vnode:AirDrop</string>
		<string>AirDrop</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/CDAudioVolumeIcon.icns</key>
	<array>
		<string>x-applefinder-vnode:Remote%20Disc</string>
	</array>
	<key>NSMediaBrowserMediaTypeAudio</key>
	<array>
		<string>~/Music</string>
		<string>NSMediaBrowserMediaTypeAudioTemplate32</string>
	</array>
	<key>NSMediaBrowserMediaTypePhotos</key>
	<array>
		<string>~/Pictures</string>
		<string>NSMediaBrowserMediaTypePhotosTemplate32</string>
	</array>
	<key>NSMediaBrowserMediaTypeMovies</key>
	<array>
		<string>~/Movies</string>
		<string>NSMediaBrowserMediaTypeMoviesTemplate32</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/SmartFolderIcon.icns</key>
	<array>
		<string>SidebarSmartFolder-selected</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/OpenFolderIcon.icns</key>
	<array>
		<string>SidebarFolder-selected</string>
	</array>
	<key>ArchiveMailbox.tiff</key>
	<array>
		<string>SidebarArchive-selected</string>
	</array>
	<key>DraftsMailboxLarge.tiff</key>
	<array>
		<string>SidebarDrafts-selected</string>
	</array>
	<key>InMailboxLarge.tiff</key>
	<array>
		<string>SidebarInbox-selected</string>
	</array>
	<key>junkmail.tiff</key>
	<array>
		<string>SidebarJunk-selected</string>
	</array>
	<key>logs.png</key>
	<array>
		<string>LogReports</string>
	</array>
	<key>pinwheel.png</key>
	<array>
		<string>SpinReports</string>
	</array>
	<key>profit.png</key>
	<array>
		<string>MacAnalytics</string>
	</array>
	<key>SentMailboxLarge.tiff</key>
	<array>
		<string>SidebarSent-selected</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/AlertCautionIcon.icns</key>
	<array>
		<string>CrashReports</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/com.apple.iphone-x-1.icns</key>
	<array>
		<string>SidebariPhone</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/com.apple.macbook-retina-space-gray.icns</key>
	<array>
		<string>SidebarMacBook</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/GenericDocumentIcon.icns</key>
	<array>
		<string>SidebarGenericFile</string>
	</array>
	<key>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/ToolbarCustomizeIcon.icns</key>
	<array>
		<string>Diagnostics</string>
	</array>
</dict>
</plist>
